In [1]:
# import libraries
import pandas as pd

# save path to csv file in a variable
data_file="../Resources/AustraliaDataScienceJobs.csv"

# read data file using pandas library
data_file_df=pd.read_csv(data_file,encoding="UTF-8")

# display dataframe
df=pd.DataFrame(data_file_df)
df.head()

,Job Title,Job Location,Company,Url,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Analyst,Melbourne,ANZ Banking Group,https://www.glassdoor.com.au/partner/jobListin...,95917,80000,115000,10000+ Employees,Company - Public,Finance,...,0,0,0,0,0,0,0,0,1,0
1,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
2,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
3,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Melbourne,ANZ Banking Group,https://www.glassdoor.com.au/partner/jobListin...,115631,94000,143000,10000+ Employees,Company - Public,Finance,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# remove unwanted columns
cols=['Url','Job Descriptions']
data_science=df.drop(cols,axis=1)
data_science

,Job Title,Job Location,Company,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,Company Founded,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Analyst,Melbourne,ANZ Banking Group,95917,80000,115000,10000+ Employees,Company - Public,Finance,1835.0,...,0,0,0,0,0,0,0,0,1,0
1,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
2,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
3,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Melbourne,ANZ Banking Group,115631,94000,143000,10000+ Employees,Company - Public,Finance,1835.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,Helicopter Pilot,Subiaco,Rocketmine,80000,70000,90000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2084,Graduate Environmental Specialist,Perth,Lynas Corporation,114923,94000,140000,501 to 1000 Employees,Company - Private,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2085,Graduate Environmental Specialist,Perth,Lynas Corporation,114923,94000,140000,501 to 1000 Employees,Company - Private,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2086,Data Analyst,Jandakot,Schlumberger,135861,108000,171000,10000+ Employees,Company - Public,"Energy, Mining, Utilities",1926.0,...,0,0,0,0,0,0,0,0,0,0
2087,Data Analyst,Jandakot,Schlumberger,135861,108000,171000,10000+ Employees,Company - Public,"Energy, Mining, Utilities",1926.0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Identify incomplete rows
data_science.count()

Job Title                        2085
Job Location                     2088
Company                          2088
Estimate Base Salary             2088
Low Estimate                     2088
High Estimate                    2088
Company Size                     1907
Company Type                     1907
Company Sector                   1521
Company Founded                  1198
Company Industry                 1521
Company Revenue                  1907
Company Rating                   1777
Company Friend Reccomendation    1732
Company CEO Approval             1324
Companny Number of Rater         1777
Company Career Opportinities     1770
Compensation and Benefits        1770
Company Culture and Values       1770
Company Senior Management        1770
Company Work Life Balance        1770
Country                          2088
State                            2088
python_yn                        2088
r_yn                             2088
sql_yn                           2088
java_yn                          2088
julia_yn                         2088
scala_yn                         2088
c_yn                             2088
c++_yn                           2088
javascript_yn                    2088
spark_yn                         2088
hadoop_yn                        2088
matlab_yn                        2088
sas_yn                           2088
git_yn                           2088
excel_yn                         2088
nosql_yn                         2088
aws_yn                           2088
mongodb_yn                       2088
cassandra_yn                     2088
hive_yn                          2088
bigml_yn                         2088
tableau_yn                       2088
powerbi_yn                       2088
nlp_yn                           2088
pytorch_yn                       2088
tensorflow_yn                    2088
mathematic_yn                    2088
statistic_yn                     2088
dtype: int64

In [4]:
# Drop rows with missing information
data_science_df=data_science.dropna(how='any')
data_science_df

,Job Title,Job Location,Company,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,Company Founded,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Analyst,Melbourne,ANZ Banking Group,95917,80000,115000,10000+ Employees,Company - Public,Finance,1835.0,...,0,0,0,0,0,0,0,0,1,0
1,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
2,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
3,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,1858.0,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Melbourne,ANZ Banking Group,115631,94000,143000,10000+ Employees,Company - Public,Finance,1835.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2074,Data Scientist,Perth,GHD,97279,92000,103000,5001 to 10000 Employees,Company - Private,Management & Consulting,1928.0,...,0,1,0,0,1,0,0,0,0,0
2078,Lead Data Specialist,Perth,Accenture,152391,128000,182000,10000+ Employees,Company - Public,Management & Consulting,1989.0,...,0,0,0,0,0,0,0,0,0,0
2079,Lead Data Specialist,Perth,Accenture,152391,128000,182000,10000+ Employees,Company - Public,Management & Consulting,1989.0,...,0,0,0,0,0,0,0,0,0,0
2086,Data Analyst,Jandakot,Schlumberger,135861,108000,171000,10000+ Employees,Company - Public,"Energy, Mining, Utilities",1926.0,...,0,0,0,0,0,0,0,0,0,0
2087,Data Analyst,Jandakot,Schlumberger,135861,108000,171000,10000+ Employees,Company - Public,"Energy, Mining, Utilities",1926.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Verify Cleanup
data_science_df.count()

Job Title                        1112
Job Location                     1112
Company                          1112
Estimate Base Salary             1112
Low Estimate                     1112
High Estimate                    1112
Company Size                     1112
Company Type                     1112
Company Sector                   1112
Company Founded                  1112
Company Industry                 1112
Company Revenue                  1112
Company Rating                   1112
Company Friend Reccomendation    1112
Company CEO Approval             1112
Companny Number of Rater         1112
Company Career Opportinities     1112
Compensation and Benefits        1112
Company Culture and Values       1112
Company Senior Management        1112
Company Work Life Balance        1112
Country                          1112
State                            1112
python_yn                        1112
r_yn                             1112
sql_yn                           1112
java_yn                          1112
julia_yn                         1112
scala_yn                         1112
c_yn                             1112
c++_yn                           1112
javascript_yn                    1112
spark_yn                         1112
hadoop_yn                        1112
matlab_yn                        1112
sas_yn                           1112
git_yn                           1112
excel_yn                         1112
nosql_yn                         1112
aws_yn                           1112
mongodb_yn                       1112
cassandra_yn                     1112
hive_yn                          1112
bigml_yn                         1112
tableau_yn                       1112
powerbi_yn                       1112
nlp_yn                           1112
pytorch_yn                       1112
tensorflow_yn                    1112
mathematic_yn                    1112
statistic_yn                     1112
dtype: int64

In [6]:
# Checking the number of rows and columns
data_science_df.shape

(1112, 51)

In [7]:
# Checking the datatypes of the columns
data_science_df.dtypes

Job Title                         object
Job Location                      object
Company                           object
Estimate Base Salary               int64
Low Estimate                       int64
High Estimate                      int64
Company Size                      object
Company Type                      object
Company Sector                    object
Company Founded                  float64
Company Industry                  object
Company Revenue                   object
Company Rating                   float64
Company Friend Reccomendation    float64
Company CEO Approval             float64
Companny Number of Rater         float64
Company Career Opportinities     float64
Compensation and Benefits        float64
Company Culture and Values       float64
Company Senior Management        float64
Company Work Life Balance        float64
Country                           object
State                             object
python_yn                          int64
r_yn                               int64
sql_yn                             int64
java_yn                            int64
julia_yn                           int64
scala_yn                           int64
c_yn                               int64
c++_yn                             int64
javascript_yn                      int64
spark_yn                           int64
hadoop_yn                          int64
matlab_yn                          int64
sas_yn                             int64
git_yn                             int64
excel_yn                           int64
nosql_yn                           int64
aws_yn                             int64
mongodb_yn                         int64
cassandra_yn                       int64
hive_yn                            int64
bigml_yn                           int64
tableau_yn                         int64
powerbi_yn                         int64
nlp_yn                             int64
pytorch_yn                         int64
tensorflow_yn                      int64
mathematic_yn                      int64
statistic_yn                       int64
dtype: object

In [8]:
# To find the non-number values(optional)
data_science_df.max()

Job Title                              Visualisation Specialist
Job Location                                         Wollongong
Company                                                      bp
Estimate Base Salary                                     295000
Low Estimate                                             241000
High Estimate                                            349000
Company Size                                            Unknown
Company Type                     Subsidiary or Business Segment
Company Sector                       Transportation & Logistics
Company Founded                                          2020.0
Company Industry                                      Wholesale
Company Revenue                        Unknown / Non-Applicable
Company Rating                                              4.9
Company Friend Reccomendation                             100.0
Company CEO Approval                                      100.0
Companny Number of Rater                                30783.0
Company Career Opportinities                                5.0
Compensation and Benefits                                   5.0
Company Culture and Values                                  5.0
Company Senior Management                                   5.0
Company Work Life Balance                                   5.0
Country                                               Australia
State                                         Western Australia
python_yn                                                     1
r_yn                                                          1
sql_yn                                                        1
java_yn                                                       1
julia_yn                                                      1
scala_yn                                                      1
c_yn                                                          1
c++_yn                                                        1
javascript_yn                                                 1
spark_yn                                                      1
hadoop_yn                                                     1
matlab_yn                                                     1
sas_yn                                                        1
git_yn                                                        1
excel_yn                                                      1
nosql_yn                                                      1
aws_yn                                                        1
mongodb_yn                                                    1
cassandra_yn                                                  0
hive_yn                                                       1
bigml_yn                                                      0
tableau_yn                                                    1
powerbi_yn                                                    1
nlp_yn                                                        1
pytorch_yn                                                    1
tensorflow_yn                                                 1
mathematic_yn                                                 1
statistic_yn                                                  1
dtype: object

In [ ]:
# Anam
# Find the top and bottom 5 company sectors in terms of salaries and employee satisfaction
# 6.1: Find the mean, mode, median, variance and standard deviation of salary for each
# company sector
# 6.2: Get the top 5 and bottom 5 sectors.
# 6.3: Create bar charts and pie charts

# Find the unique total of companies
total_unique_companies=data_science_df['Company'].value_counts()
total_unique_companies

# Average for each company
company_average=data_science_df.groupby(["Company"]).mean()[["Estimate Base Salary","Low Estimate","High Estimate","Company Career Opportinities",'Compensation and Benefits',"Company Culture and Values","Company Work Life Balance"]]
company_average

In [ ]:
# Anam
# 7: Find the unique job titles and extract top 5 and bottom 5 job titles in terms of salary
job_title=data_science_df.groupby(["Job Title"]).mean()[["Estimate Base Salary","Low Estimate","High Estimate"]]
job_title
# job_title.sort_values()

In [ ]:
# Nishant
# 8: Find the states with the highest and lowest number of job opportunities by using groupby method

In [ ]:
# Nishant
# 9: The popular company type by using loc method and then make a pie chart

In [ ]:
# Nishant
# 10: Compare the size of the company using the bin and compare the salaries

In [ ]:
# John
# 11: Find top 15 and bottom 15 companies in terms of company ratings and employee satisfaction by setting conditions over 4.0

#test code

In [ ]:
# John
# 12: Define metro and regional by using conditional statements and find the number of opportunities in metro vs regional

In [ ]:
# Anam
# 13: Count for each technical skill and then find top 5 and bottom 5
skills_df=data_science_df[['python_yn','r_yn','sql_yn','java_yn','julia_yn','scala_yn','c_yn','c++_yn','javascript_yn','spark_yn','hadoop_yn','matlab_yn','sas_yn','git_yn','excel_yn','nosql_yn','aws_yn','mongodb_yn','cassandra_yn','hive_yn','bigml_yn','tableau_yn','powerbi_yn','nlp_yn','pytorch_yn','tensorflow_yn','mathematic_yn','statistic_yn']]
skills_df.sum()

In [ ]:
# John
# 14: Bonus: Try using gmaps API to create a heatmap that we can use to visualize which states have more employment opportunities when it comes to data science.