In [7]:
# import libraries
import pandas as pd

# save path to csv file in a variable
data_file="../Resources/AustraliaDataScienceJobs.csv"

# read data file using pandas library
data_file_df=pd.read_csv(data_file,encoding="UTF-8")

# display dataframe
data_science_df=pd.DataFrame(data_file_df)
data_science_df.head()

,Job Title,Job Location,Company,Url,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Analyst,Melbourne,ANZ Banking Group,https://www.glassdoor.com.au/partner/jobListin...,95917,80000,115000,10000+ Employees,Company - Public,Finance,...,0,0,0,0,0,0,0,0,1,0
1,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
2,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
3,Clinical Research Associate,Mulgrave,Bristol Myers Squibb,https://www.glassdoor.com.au/partner/jobListin...,96555,79000,118000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Melbourne,ANZ Banking Group,https://www.glassdoor.com.au/partner/jobListin...,115631,94000,143000,10000+ Employees,Company - Public,Finance,...,0,0,0,0,0,0,0,0,0,0

,Estimate Base Salary,Low Estimate,High Estimate,Company Founded,Company Rating,Company Friend Reccomendation,Company CEO Approval,Companny Number of Rater,Company Career Opportinities,Compensation and Benefits,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
count,2088.000000,2088.000000,2088.000000,1198.000000,1777.000000,1732.000000,1324.000000,1777.000000,1770.000000,1770.000000,...,2088.000000,2088.000000,2088.0,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000
mean,102876.283046,91153.256705,116305.076628,1946.622705,3.880191,76.397229,76.795317,1871.593134,3.688079,3.607514,...,0.000479,0.049330,0.0,0.105364,0.057950,0.058429,0.011494,0.016762,0.211207,0.169061
std,34297.989501,30441.165716,40443.733452,62.768897,0.538047,15.123766,16.748902,4773.469136,0.570887,0.549737,...,0.021884,0.216607,0.0,0.307095,0.233705,0.234609,0.106619,0.128411,0.408263,0.374896
min,46133.000000,30000.000000,50000.000000,1631.000000,1.600000,15.000000,7.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,80000.000000,70000.000000,87000.000000,1899.000000,3.700000,68.000000,70.000000,2.000000,3.400000,3.400000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,96021.000000,85000.000000,111000.000000,1968.000000,3.900000,79.000000,81.500000,52.000000,3.700000,3.600000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,120000.000000,107000.000000,140000.000000,2004.000000,4.100000,86.250000,87.000000,1020.000000,4.000000,3.900000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,295000.000000,241000.000000,349000.000000,2020.000000,5.000000,100.000000,100.000000,30783.000000,5.000000,5.000000,...,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000